.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
}

.thanks {
  font-size: 5rem;
  font-weight: 700;
  color: var(--text-primary);
  margin: 0;
  text-align: center;
}
